<div id="Header">
  <a href="#/" id="logo">ElevenLibrary</a>
</div>
<div id="wrapper">
  <div id="ColumnContainer">
    <nav class="navbar navbar-default col-md-11">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/manage/books">Manage <span class="label label-info badge" style="background-color: #5bc0de">13</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{active: currentState.route==0}"><a ui-sref="manage.books" ng-click="currentState.route=0">Books</a></li>
            <li ng-class="{active: currentState.route==1}"><a ui-sref="manage.logs" ng-click="currentState.route=1">Events</a></li>
            <li ng-class="{active: currentState.route==2}"><a ui-sref="manage.logs" ng-click="currentState.route=2">Logs</a></li>
          </ul>
          <p ng-if="currentState.route==0" class="navbar-text"><strong>{{currentState.book.count.totalNum}}</strong>&nbsp; books:&nbsp;&nbsp;<strong>{{currentState.book.count.freeNum}}</strong>&nbsp;free&nbsp;&nbsp;&nbsp;<strong>{{currentState.book.count.resNum}}</strong>&nbsp;reserved&nbsp;&nbsp;&nbsp;<strong>{{currentState.book.count.borNum}}</strong>&nbsp;borrowed&nbsp;&nbsp;&nbsp;</p>
          <p ng-if="currentState.route==0" class="navbar-text"></p>
          <p ng-if="currentState.route==0" class="navbar-text"></p>
          <p ng-if="currentState.route==0" class="navbar-text"></p>
        </div>
      </div>
    </nav>
    <div ui-view class="col-md-11"></div>
  </div>
</div>
