<div ng-app="bookDetailApp" ng-controller="BookDetailCtrl" style="left: 80px; position: relative">
  <div id="content" class="group">
    <h1>{{ book.title }}</h1>
    <div class="group">
      <div class="main-shot">
        <div class="the-shot">
          <div class="book-pic">
            <a ng-href="{{book.src}}">
              <img style="max-width: 210px; height: 290px" src="{{book.src}}" alt="" />
            </a>
          </div>
          <div class="book-info">
            <div class="meta-act">
              <span>Author: Daniel Golden</span>
            </div>
            <div class="meta-act">
              <span>ISBN：9876543210</span>
            </div>
            <div class="meta-act">
              <span>Publisher：XXXXXXX</span>
            </div>
            <div class="meta-act">
              <span>Page Count: 304</span>
            </div>
            <div class="meta-act">
              <span>Price: 39.5</span>
            </div>
          </div>
        </div>
        <div class="screenshot-meta">
          <div class="meta-act">
            <div class="group fav">
              <a class="meta-act-link meta-like" href="">15 likes</a>
            </div>
          </div>
          <div class="meta-act">
            <div class="group fav evaluate">
              <a class="meta-evaluate" href=""></a>
              <a class="meta-evaluate" href=""></a>
              <a class="meta-evaluate" href=""></a>
              <a class="meta-evaluate" href=""></a>
              <a class="meta-evaluate" href=""></a>
              <a class="meta-act-link" href="">(30 evaluation)</a>
            </div>
          </div>
          <div class="social-media meta-act meta-act-full">
            <a href="" class="meta-act-link meta-share">Borrowed (1 last)</a>
          </div>
          <h3 class="meta-head">More Similar Books</h3>
          <ol class="more-thumbs">
            <li class="multi-thumb">
              <a href="#/books/28">
                <img ng-src="images/img (28).jpg">
              </a>
            </li>
            <li class="multi-thumb">
              <a href="#/books/29">
                <img ng-src="images/img (29).jpg">
              </a>
            </li>
            <li class="multi-thumb">
              <a href="#/books/30">
                <img ng-src="images/img (30).jpg">
              </a>
            </li>
            <li class="multi-thumb">
              <a href="#/books/31">
                <img ng-src="images/img (31).jpg">
              </a>
            </li>
          </ol>
          <h3 class="meta-head">More Popular Books</h3>
          <ol class="more-thumbs">
            <li class="multi-thumb">
              <a href="#/books/97">
                <img ng-src="images/img (97).jpg">
              </a>
            </li>
            <li class="multi-thumb">
              <a href="#/books/23">
                <img ng-src="images/img (23).jpg">
              </a>
            </li>
            <li class="multi-thumb">
              <a href="#/books/24">
                <img ng-src="images/img (24).jpg">
              </a>
            </li>
            <li class="multi-thumb">
              <a href="#/books/25">
                <img ng-src="images/img (25).jpg">
              </a>
            </li>
          </ol>
        </div>
        <div class="shot-desc">
          <p>No need to scour the interwebs for a suitable picture for your event anymore!! Conveniently use one of the handful of illustrated themes made for Events on Facebook.</p>
          <p>I had quite a bit of fun making a new set of themes, coming out soon, and humbly being in the company of amazingly talented illustrators like Jez Burrows, Michael Jeter and Eight Hour Day who designed the first batch of themes already out!</p>
        </div>
        <div id="comments-section">
          <h2 class="count section ">5 Comments</h2>
          <ol id="comments" class="comments">
            <li class="response comment group ">
              <div class="user_pic">
                <img src="images/pic/1.jpg">
              </div>
              <div class="comments">
                <h2>Steve</h2>
                <div class="comment-body">
                  <p>Incredible! I can't wait to see more! Also, what kind of library card would I need to check one out?</p>
                </div>
                <p class="comment-meta">
                  <a class="posted">about 3 hours ago</a>
                </p>
              </div>
            </li>
            <li class="response comment group ">
              <div class="user_pic">
                <img src="images/pic/2.jpg">
              </div>
              <div class="comments">
                <h2>Charlene</h2>
                <div class="comment-body">
                  <p>Always excited about new posts from you guys. You do such great work over at Stripe.</p>
                </div>
                <p class="comment-meta">
                  <a class="posted">about 2 hours ago</a>
                </p>
              </div>
            </li>
            <li class="response comment group ">
              <div class="user_pic">
                <img src="images/pic/3.jpg">
              </div>
              <div class="comments">
                <h2>Bella</h2>
                <div class="comment-body">
                  <p>Awesome! :) ... looking forward to test this new integration</p>
                </div>
                <p class="comment-meta">
                  <a class="posted">about 2 hours ago</a>
                </p>
              </div>
            </li>
            <li class="response comment group ">
              <div class="user_pic">
                <img src="images/pic/4.jpg">
              </div>
              <div class="comments">
                <h2>Ally</h2>
                <div class="comment-body">
                  <p>Sweet!</p>
                </div>
                <p class="comment-meta">
                  <a class="posted">about 1 hours ago</a>
                </p>
              </div>
            </li>
            <li class="response comment group ">
              <div class="user_pic">
                <img src="images/pic/5.jpg">
              </div>
              <div class="comments">
                <h2>Sven</h2>
                <div class="comment-body">
                  <p>I really like how you keep your style, subtle gradients, nice interactions. Way to go. Plus this feature is killer to be honest :)</p>
                </div>
                <p class="comment-meta">
                  <a class="posted">about 1 hours ago</a>
                </p>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
