<div ng-app="bookListApp" ng-controller="ShowFreeBooks" class="Grid" infinite-scroll="showMoreBooks()">
    <div masonry>
        <div class="masonry-brick" ng-repeat="book in books">
            <div class="gridItem" style="border-radius: 8px; box-shadow: 0 0 11px #ddd;background-color: #fff; " ng-class="{aHover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <div class="bookShot" style="padding: 10px;">
                    <div class="saveWrapper">
                        <a ng-href="#/books/{{ book.id }}">
                            <img style="width:206px;" ng-src="{{ book.src }}" />
                        </a>
                        <!-- style="opacity:0.9;display:block;" -->
                        <a class="saveOverlay">
                            <h4 style="font-size:18px; font-weight: 300;">Title: {{ book.id }}</h4>
                            <p style="font-size:16px; font-weight: 300; margin-top: 20px;">This is description</p>
                        </a>
                    </div>
                    <div class="bookInfoFooter">
                        <ul class="bookInfoFooter">
                            <li class="comment"><span>{{ book.commentNum }}</span></li>
                            <li class="like"><span>{{ book.likeNum }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
